@page
@model AlbunsMusicais.Pages.NovoAlbumModel
@{
    ViewData["Title"] = "Album";
}

<div class="text-justify d-inline-block w-100 mt-5 mb-5">
    <h1 class="display-4"></h1>
</div>

<div class="row">
    <div class="col-lg-6">
        <img class="img-fluid" src="~/img/" alt="" />
    </div>
    <div class="col-lg-6">
        <label class="titulo w-25">Artista: </label><label> </label> <hr />
        <label class="titulo w-25">Descrição: </label><label> </label> <hr />
        <label class="titulo w-25">Ano de lançamento: </label><label> </label> <hr />
        <label class="titulo w-25">Produtora: </label><label> </label> <hr />
        <div class="mt-2">
            <label class="titulo w-25">Gênero Musical</label>
            <a href="#" class="btn btn-lg"></a>
        </div>
    </div>
</div>
<div class="text-justify d-inline-block w-50 mt-5 mb-5">
    <label class="titulo w-25">Faixas:</label>
    <a href="#" class="btn btn-lg"></a>
</div>